{% extends "header.html" %}
{% block main %}
<h1 class="h1"> {{title}} </h1>
<div class="row" id="formEditCap">
  <form class  = "form-horizontal"
        role = "form"
        method = "POST"
        action = "{{ url_for(form.get_next()) }}">

    {{ form.hidden_tag() }}
    <div class=
         {% if form.name.errors %}
         "form-creation has-errors"
         {% else %}
         "form-creation"
         {% endif %}
         >
      {{ form.name.label }}
      {{ form.name(size = 50,
                   class_ = "form-control") }}

      {{ form.phoneNumber.label }}
      {{ form.phoneNumber(size = 5,
                   class_ = "form-control") }}

      {{ form.TypeMesure.label }}
      {{ form.TypeMesure(size = 5,
                   class_ = "form-control") }}

      {{ form.intervalTime.label }}
      {{ form.intervalTime(size = 5,
                   class_ = "form-control") }}

      {{ form.parterre.label }}
      {{ form.parterre(size = 5,
                   class_ = "form-control") }}
    </div>
  {% if form.name.errors %}
  <ul class = "list-group">
    {% for e in form.name.errors %}
    <li class="list-group-item list-group-item-danger">{{ e }}</li>
    {% endfor %}
  </ul>
  {% elif form.phoneNumber.errors %}
      <ul class = "list-group">
      {% for e in form.phoneNumber.errors %}
        <li class = "list-group-item list-group-item-danger">{{ e }}</li>
      {% endfor %}
      </ul>
  {% elif form.intervalTime.errors %}
      <ul class = "list-group">
      {% for e in form.intervalTime.errors %}
        <li class = "list-group-item list-group-item-danger">{{ e }}</li>
      {% endfor %}
      </ul>
  {% endif %}
  <div class="buttonSave">
    <input class = "btn btn-success"
          type ="submit"
          value = "Enregistrer">

          {% if param == "create" %}
    <a href="{{ url_for('home')}}" class = "btn btn-danger">Annuler</a>
          {% elif param == "modif" %}
    <a href="{{ url_for('capteur_info', id = capteur.get_id()) }}" class = "btn btn-danger">Annuler</a>
          {% elif param == "createPart" %}
    <a href="{{ url_for('parterre_info',id = parterre) }}" class = "btn btn-danger">Annuler</a>
          {% endif %}
  </div>
  </form>
</div>


{% endblock %}
