{% extends "header.html" %}

{% block main %}

<h1 class="h1">{{ title }}</h1>
<div class="row" id="listeCapl">
  {% if mesCapteurs != [] %}
    <ul>
      {% for capteur in mesCapteurs %}
        <li><a href="{{ url_for('capteur_info', id = capteur.get_id()) }}" class = "btn btn-default" id="buttonliste">{{ capteur.get_name() }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <section>
      <p>Aucun capteur dans la base de données</p>
      <a href="{{ url_for('add_Capteur') }}" class = "btn btn-primary" id="buttonAdd"> Ajouter un capteur</a>
    </section>
  {% endif %}
</div>

{% endblock %}
