{% extends "header.html" %}

{% block main %}
<h1>Mon capteur : {{ capteur.get_name() }} </h1>
<div>
  <ul>
    <li>Lieu géolocalisation en X : {{ capteur.get_coordonnees()[0] }} </li>
    <li>Lieu géolocalisation en Y : {{ capteur.get_coordonnees()[1] }} </li>
    <li>Numéro de téléphone : {{ capteur.get_phoneNumber() }}
    <li>Niveau de batterie : {{ capteur.get_lvlBattery() }} </li>
    <li>Date Placement : {{ capteur.get_date() }} </li>
    <li>Type de Mesure : {{ mesure.get_name() }} </li>
    <li>Parterre associé : {{ parterre.get_name() }} </li>
  </ul>
</div>
<div>
    <a href = "{{ url_for('delete_cap', id = capteur.get_id()) }}">
      <input class = "btn btn-danger" type = "submit" value = "Supprimer">
    </a>

  <a href = "{{ url_for('edit_capteur', id = capteur.get_id()) }}">
    <input class = "btn btn-default" type = "submit" value = "Modifier">
  </a>
</div>

{% endblock %}
