{% extends "header.html" %}
{% block head %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='contact.css')}}" >
{% endblock %}

{% block main %}

<ul class = "contact">
  <li>
    <ul class ="trois">
    <li class = "contacts-item">
      <img class  = "img-circle"
           src    = "{{ url_for('static', filename = 'artiste_circle.png') }}"
           alt    = "Generic placeholder image"
           width  = "140"
           height = "140">
      <p> <span>pierre.lemiere@etu.univ-orleans.fr</span> </p>
      <p>Pierre Lemiere</p>
    </li>
    <li class = "contacts-item">
      <img class  = "img-circle"
           src    = "{{ url_for('static', filename = 'artiste_circle.png') }}"
           alt    = "Generic placeholder image"
           width  = "140"
           height = "140">
      <p> <span>maxime.deboffle@etu.univ-orleans.fr</span> </p>
      <p>Maxime Deboffle</p>
    </li>
    <li class = "contacts-item">
      <img class  = "img-circle"
           src    = "{{ url_for('static', filename = 'artiste_circle.png') }}"
           alt    = "Generic placeholder image"
           width  = "140"
           height = "140">
      <p> <span>florian.thomas@etu.univ-orleans.fr</span></p>
      <p>Florian Thomas</p>
    </li>
  </li>
</ul>

  <li>
    <ul class="troisbis">
      <li class = "contacts-item">
        <img class  = "img-circle"
             src    = "{{ url_for('static', filename = 'artiste_circle.png') }}"
             alt    = "Generic placeholder image"
             width  = "140"
             height = "140">
        <p> <span>tanguy.voiry@etu.univ-orleans.fr</span> </p>
        <p>Tanguy Voiry</p>
      </li>
      <li class = "contacts-item">
        <img class  = "img-circle"
             src    = "{{url_for('static', filename = 'artiste_circle.png') }}"
             alt    = "Generic placeholder image"
             width  = "140"
             height = "140">
        <p> <span>joshua.vanneau@etu.univ-orleans.fr</span> </p>
        <p>Joshua Vanneau</p>
      </li>
      <li class = "contacts-item">
        <img class  = "img-circle"
             src    = "{{url_for('static', filename = 'artiste_circle.png') }}"
             alt    = "Generic placeholder image"
             width  = "140"
             height = "140">
        <p> <span>zephyr.redin@etu.univ-orleans.fr</span> </p>
        <p>Zephyr Redin</p>
      </li>
    </ul>
:  </li>
<ul>
{% endblock %}
