{% extends "header.html" %}

{% block main %}
<ul class="contacts">
  <li class="contacts-item">
    <img class="img-circle" src="{{url_for('static',filename='artiste_circle.png')}}" alt="Generic placeholder image" width="140" height="140">
    <p>Pierre Lemiere</p>
  </li>
  <li class="contacts-item">
    <img class="img-circle" src="{{url_for('static',filename='artiste_circle.png')}}" alt="Generic placeholder image" width="140" height="140">
    <p>Maxime Deboffle</p>
  </li>
  <li class="contacts-item">
    <img class="img-circle" src="{{url_for('static',filename='artiste_circle.png')}}" alt="Generic placeholder image" width="140" height="140">
    <p>Florian Thomas</p>
  </li>
  <li class="contacts-item">
    <img class="img-circle" src="{{url_for('static',filename='artiste_circle.png')}}" alt="Generic placeholder image" width="140" height="140">
    <p>Tanguy Voiry</p>
  </li>
  <li class="contacts-item">
    <img class="img-circle" src="{{url_for('static',filename='artiste_circle.png')}}" alt="Generic placeholder image" width="140" height="140">
    <p>Joshua Vanneau</p>
  </li>
</ul>
{% endblock %}
