{% extends "header.html" %}
{% block main %}
<h1> {{ title }} </h1>
<form class  = "form-horizontal"
      role = "form"
      method = "POST"
      action = "{{ url_for(form.get_next()) }}">

  {{ form.hidden_tag() }}
  <div class=
       {% if form.nomP.errors %}
       "form-creation has-errors"
       {% else %}
       "form-creation"
       {% endif %}
       >
    {{ form.nomP.label }}
    {{ form.nomP(size = 50,
                 class_ = "form-control") }}

    {{ form.lieuGeoPX.label }}
    {{ form.lieuGeoPX(size = 50,
                 class_ = "form-control") }}

    {{ form.lieuGeoPY.label }}
    {{ form.lieuGeoPY(size = 50,
                 class_ = "form-control") }}
  </div>
{% if form.nomP.errors %}
<ul class = "list-group">
  {% for e in form.nomP.errors %}
  <li class="list-group-item list-group-item-danger">{{ e }}</li>
  {% endfor %}
</ul>
{% endif %}
<input class = "btn btn-default"
        type ="submit"
        value = "Enregistrer">
</form>


{% endblock %}
