{% extends "header.html" %}
{% block main %}

  <h1 class="h1">Suppression d'un Parterre : </h1>
  <div class="row Suppr">
      <form method = "POST" action = "{{ url_for('delete_part') }}">
        <h3>Veuillez selectionner un parterre :</h3>
        <div class="delete">
        <select name = "del" class="del">
          <option value = "">Faites votre choix</option>
          {% for parterre in liste %}
            {% if parterre.get_name() != "Bac à sable" %}
              <option value = "{{ parterre.get_id() }}">{{ parterre.get_name() }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="">
        <a href="#popup1" class="btn btn-danger">Supprimer</a>
      </div>

        <div id="popup1" class = "overlay">
            <div class = "popup">
              <h2> Etes-vous sûr de vouloir supprimer ce parterre ? </h2>
              <p> Cette action le supprimera définitivement</p>
              <a href="#">
                <button type="button" class="btn btn-default">Annuler</button>
              </a>
              <input class = "btn btn-danger"
                     type  = "submit"
                     value = "Supprimer">
            </div>
        </div>
      </form>
  </div>


{% endblock %}
