{% extends "header.html" %}
{% block main %}
<body>
  <h1 class="h1">Suppression d'un Parterre : </h1>
  <div class="row Suppr">
      <form method = "POST" action = "{{ url_for('delete_part') }}">
        <h3>Veuillez selectionner un parterre :</h3>
        <div class="delete">
        <select name = "del" class="del">
          <option value = "">Faites votre choix</option>
          {% for parterre in liste %}
            {% if parterre.get_name() != "Bac à sable" %}
              <option value = "{{ parterre.get_id() }}">{{ parterre.get_name() }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
        <input class = "btn btn-danger Supprimer"
               type  = "submit"
               value = "Supprimer">
      </form>
  </div>
</body>

{% endblock %}
