{% extends "header.html" %}
{% block main %}

  <h1 class="h1">Suppression d'un parterre : </h1>
  <div class="row Suppr">
      <form method = "POST" action = "{{ url_for('delete_part') }}">
        <h3>Veuillez selectionner un parterre :</h3>
        <div class="delete">
        <select name = "del" class="del" onchange="recupere()" id="select">
          <option value = "">Faites votre choix</option>
          {% for parterre in liste %}
            {% if parterre.get_name() != "Bac à sable" %}
              <option value = "{{ parterre.get_id() }}">{{ parterre.get_name() }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div id="sppr">
        <a href="#popup1" id="Supp" class="btn btn-danger">Supprimer</a>
      </div>
      <div id="popup1" class = "overlay">
        <div class = "popuP">
          <h2> Etes-vous sûr de vouloir supprimer ce parterre ? </h2>
          <p> Cette action le supprimera définitivement !</p>
          <input class = "btn btn-danger"
               type  = "submit"
               value = "Supprimer">
          <a href="#">
            <button type="button" class="btn btn-default btn-pop-cancel">Annuler</button>
          </a>
      </div>
    </div>
  </form>
</div>


{% endblock %}
{% block scripts %}
{{super()}}
  <script language="JavaScript">

    function cacher() {
      $('#sppr').css('visibility','hidden');
      console.log('ok');
    }

    function recupere(){

      var select = document.getElementById("select" );
      var valeur = select.options[select.selectedIndex].value;
      if(valeur==select.options[0].value){
        $('#sppr').css('visibility','hidden');
      }
      else{
        $('#sppr').css('visibility','visible');
      }
    }

    window.onload = cacher();
  </script>

{% endblock %}
