{% extends "header.html" %}
{% block main %}
<div id="homeH1" class="h1">
	<h1>Bienvenue à tous !</h1>
	<img src="{{ url_for('static',filename='arduinow.jpg')}}">
</div>

<!-- widget meteo -->
<div id="widget_7d2188136044dec14cb3e5e2f596a021">
	<span id="t_7d2188136044dec14cb3e5e2f596a021">Météo Orl&eacute;ans</span>
	<span id="l_7d2188136044dec14cb3e5e2f596a021"><a href="http://www.mymeteo.info/r/orleans_h">Orl&eacute;ans plus d'informations</a></span>
	<script type="text/javascript">
	(function() {
		var my = document.createElement("script"); my.type = "text/javascript"; my.async = true;
	   	my.src = "https://services.my-meteo.com/widget/js?ville=250&format=vertical&nb_jours=5&temps&icones&vent&c1=393939&c2=a9a9a9&c3=e6e6e6&c4=ffffff&c5=00d2ff&c6=d21515&police=0&t_icones=12&x=160&y=535&d=0&id=7d2188136044dec14cb3e5e2f596a021";
	   	var z = document.getElementsByTagName("script")[0]; z.parentNode.insertBefore(my, z);})();
	</script>
</div>
<aside class="aside">
  <h2>
    Historique des actions :
  </h2>
	<div class="scrollAction">
		<ul class="listeAction">
			{% for action in liste.get_val_actions() %}
			<li>{{ action }}</li>
			{% endfor %}
		</ul>
	</div>
</aside>
<section class="section">
  <h2>
    Actutalités :
  </h2>

<div id="carte_278bbc02b664b70e2e7e982b5b29e336">
<a href="http://www.mymeteo.info/r/france_8h" title="France données météo">France données météo</a>
<script type="text/javascript">
(function() {
   var my = document.createElement("script"); my.type = "text/javascript"; my.async = true;
   my.src = "https://services.my-meteo.com/cartes/js?pays=france&periode=24&x=450&y=430&d=0&id=278bbc02b664b70e2e7e982b5b29e336";
   var z = document.getElementsByTagName("script")[0]; z.parentNode.insertBefore(my, z);
})();
</script>
</div>


</section>

{% endblock %}
