{% extends "header.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://openlayers.org/en/v4.5.0/css/ol.css" type="text/css">
<!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
<script src="https://openlayers.org/en/v4.5.0/build/ol.js"></script>
{% endblock %}
{% block main %}

<div class="divCapH1">
  <h1>{{ parterre.get_name() }}</h1>
  {% if parterre.get_name()!= "Bac à sable" %}
    <div class="buttonDelete">
      <div class="">
        <a href="#popup1" class="btn btn-danger" id="bDanger">Supprimer</a>
      </div>

        <div id="popup1" class = "overlay">
            <div class = "popuP">
              <h2> Etes-vous sûr de vouloir supprimer ce parterre ? </h2>
              <p> Cette action le supprimera définitivement</p>
              <a href="#">
                <button type="button" class="btn btn-default">Annuler</button>
              </a>
              <a href = "{{ url_for('delete_parterre', id = parterre.get_id()) }}" class="btn btn-danger">Supprimer
              </a>
            </div>
        </div>
      <a href = "{{ url_for('edit_parterre', id = parterre.get_id()) }}" id="bEdit">
        <input class = "btn btn-default" type = "submit" value = "Modifier">
      </a>
    </div>
  {% endif %}
</div>

<div id="mapInfoP">
  <div class = "row" id = "infoParterre">
    <section class = "fleurs">
      <h4> Liste des fleurs :</h4>
      <div>
        <ul class="listeP">
          {% for plante in parterre.get_plantes() %}
            <li><a href="{{ url_for('plante_info', id = plante.get_id()) }}" class="btn btn-default buttonliste"> {{ plante.get_name() }} </a></li>
          {% endfor %}
        </ul>
      <div>
        <a href="{{ url_for('add_Plante')}}" class="btn btn-default" id="addflower">Ajouter une fleur</a>
      </div>
    </div>
    </section>

    <section class = "capteurs">
      <h4> Liste des capteurs :</h4>
      <div>
        <ul class="listeP">
          {% for capteur in parterre.get_capteurs() %}
            <li><a href="{{ url_for('capteur_info', id = capteur.get_id()) }}" class="btn btn-default buttonliste">{{ capteur.get_name() }}</a></li>
          {% endfor %}
        </ul>
        <div>
          <a href="{{ url_for('add_Capteur')}}" class="btn btn-default" id="addC">Ajouter un capteur</a>
        </div>
      </div>
    </section>
  </div>
<div id = "mapP">
  <div id="map" class="col-md-8 map"></div>
</div>
<section class="footer">
  <a href="{{ url_for('parterre') }}" class = "btn btn-default return"> Retour</a>
</section>
{% endblock %}
{% block scripts %}
{{super()}}
<script>
      let raster = new ol.layer.Tile({
        source: new ol.source.OSM()
      });


            let geojsonObject = {
              'type': 'FeatureCollection',
              'crs': {
                'type': 'name',
                'properties': {
                  'name': 'EPSG:3857'
                }
              },
              'features': [{
                'type': 'Feature',
                'geometry': {
                  'type': 'Polygon',
                  'coordinates': [[
                    {% for coord in parterre.coordonnees %}
                      [ {{ coord.get_Y()}}, {{coord.get_X()}}],
                    {% endfor %}
                  ]]
                },
              },
              ]
            };


      let source = new ol.source.Vector({wrapX: false, features: (new ol.format.GeoJSON()).readFeatures(geojsonObject)});

      let vector = new ol.layer.Vector({
        source: source
      });
      let map = new ol.Map({
        layers: [raster, vector],
        target: 'map',
        view: new ol.View({
          center: [214408, 6080900],
          zoom: 15
        })
      });

</script>


</div>
{% endblock %}
