{% extends "header.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://openlayers.org/en/v4.5.0/css/ol.css" type="text/css">
<!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
<script src="https://openlayers.org/en/v4.5.0/build/ol.js"></script>
{% endblock %}

{% block main %}
<h1 class="h1">Ma plante : {{ plante.get_name() }} </h1>
<div class="row" id="infoPlante">
  <ul class="listePos" id="listePlante">
    <li><span class="contentInfo"> Comportement :</span> <span class="itemInfo">{{ plante.get_comportement() }}</span></li>
    <li><span class="contentInfo"> Taux d'humidité nécessaire :</span> <span class="itemInfo">{{ plante.get_taux_humidite() }}</span> </li>
    <li><span class="contentInfo"> Quantité :</span> <span class="itemInfo">{{ plante.get_quantite() }}</span> </li>
    <li><span class="contentInfo"> Situé dans le parterre :</span> <span class="itemInfo">{{ parterre.get_name() }}</span> </li>
  </ul>
  <div id="button">
    <a href = "#popup1" id="planteDelete">
      <input class = "btn btn-danger" type = "submit" value = "Supprimer">
    </a>
    <div id="popup1" class = "overlay">
            <div class = "popuP">
              <h2> Etes-vous sûr de vouloir supprimer cette plante ? </h2>
              <p> Cette action la supprimera définitivement !</p>
              <a href = "{{ url_for('delete_plante', id = plante.get_id()) }}" class="btn btn-danger btn-pop-del">Supprimer
              </a>
              <a href="#">
                <button type="button" class="btn btn-default btn-pop-cancel" onclick="afficher()">Annuler</button>
              </a>

            </div>
        </div>
    <a href = "{{ url_for('edit_plante', id = plante.get_id()) }}" id="planteEdit">
      <input class = "btn btn-default" type = "submit" value = " Modifier ">
    </a>
    <a href="{{ url_for('parterre_info', id = parterre.get_id())}}" class = "btn btn-default" id="planteCancel" >Annuler</a>
  </div>
</div>
  {% endblock %}
