{% extends "header.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://openlayers.org/en/v4.5.0/css/ol.css" type="text/css">
<!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
<script src="https://openlayers.org/en/v4.5.0/build/ol.js"></script>
{% endblock %}

{% block main %}
<h1 class="h1">Ma plante : {{ plante.get_name() }} </h1>
<div id="mapInfo">
  <div class="row" id="infoCap">
    <ul class="listePos">
      <li><span class="contentInfo"> Comportement :</span> <span class="itemInfo">{{ plante.get_comportement() }}</span></li>
      <li><span class="contentInfo"> Taux d'humidité nécessaire :</span> <span class="itemInfo">{{ plante.get_taux_humidite() }}</span> </li>
      <li><span class="contentInfo"> Quantité :</span> <span class="itemInfo">{{ plante.get_quantite() }}</span> </li>
      <li><span class="contentInfo"> Situé dans le parterre :</span> <span class="itemInfo">{{ parterre.get_name() }}</span> </li>
    </ul>
    <div id="button">
      <a href = "{{ url_for('delete_plante', id = plante.get_id()) }}">
        <input class = "btn btn-danger" type = "submit" value = "Supprimer">
      </a>
      <a href = "{{ url_for('edit_plante', id = plante.get_id()) }}">
        <input class = "btn btn-default" type = "submit" value = "Modifier">
      </a>
    </div>
  </div>
  <div id="mapC">
    <div id="map" class="col-md-8 map"></div>
  </div>
  {% endblock %}
