{% extends "header.html" %}

<!-- {% block head %}
{{ super() }}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %} -->

{% block main %}
<h1 class="h1">Relevé du capteur : {{ capteur.get_name() }}</h1>
<div class="row" id="info">
  <h2>Tableau</h2>
  <table>
    <tr><th>Valeurs</th><th>Date relévé</th></tr>
    {% for donnee in capteur.get_vals() %}
      <tr>
        <td>{{ donnee.get_val() }}</td>
        <td>{{ donnee.get_date_donnee()[:10] }} | {{ donnee.get_date_donnee()[10:16]}}</td>
      </tr>
    {% endfor %}
  </table>
  <p id="demo0"></p>
</div>

<div id="tester"></div>

<section class="footer">
  <a href="{{ url_for('capteur_info_relever1',id=capteur.get_id()) }}" class = "btn btn-default return"> Retour</a>
</section>

<script type="text/javascript">

  var y = [];
  var x = [];
  var ctp = 0;

  {% for val in capteur.get_vals() %}
    y.push({{ val.get_val() }});
    x[ctp] = ctp;
    ctp += 1;
  {% endfor %}

  console.log(x);
  console.log(y);

  TESTER = document.getElementById('tester');

  Plotly.plot( TESTER, [{
      x,
      y }], {
      margin: { t: 0 } } );

  console.log( Plotly.BUILD );

</script>
{% endblock %}
