.contact{
  display: flex;
  flex-direction: column;
  list-style-type: none;

}
.trois{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;


}
.troisbis{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.contacts-item{
  list-style-type: none;
  padding:5vh;
  padding:4vw;
  text-align: center;
}
p{
  text-decoration: underline;
}
