body{
  padding-top: 7vh;
  background-image: url("fond.jpg");
  background-repeat: repeat;
}
.aside, .section, .h1{
  border: solid thin black;
  padding: 1vw;
}
.container{
  display: flex;
  flex-wrap: wrap;
}
.h1{
  order 1;
  width: 100%;
}

#widget_7d2188136044dec14cb3e5e2f596a021{
  order:2;
  width: 10%;
  margin-right: 1em;
}

.section{
  order:3;
  width: 50%;
}

.aside{
  order:4;
  flex: 1;
  margin-left: 10px;
}

#navbar{
  font-size: large;
}
.navbar-nav > li:hover{
  border-bottom: solid white;
}

.capteurs, .fleurs{
  border: solid black thin;
}

#login{
  padding: 25vh 0vw 3vh 0vw;
  margin-left: 12vw;
}
#login label{
  text-align: center;
  block-size: 2vw;
}
#sub{
  padding: 20vh 0vw 3vh 0vw;
  margin-left: 12vw;
}
#sub label{
  text-align: center;
  block-size: 2vw;
}
#buttonLog{
  margin-left: 10vh;
}
.col-sm-offset-2{
  text-align: center;
  display: flex;
}
#buttonA{
  flex: 1 1;
}
#mapInfo{
  display: flex;
  width: 100%;
}
#infoCap{
 border: thin solid black;
 padding: 10px;
 height: 50vh;
 margin: auto;
  width: 30%;
 flex: 0 1 1;
}
#mapC > #map{
  flex: 1 1 0;
  height: 50vh;
  width: 100%;
}
.listePos{
  height: 90%;
  padding-top: 5vh;
  list-style-type: none;
  padding-left: 0;
}
.listePos li{
  padding-bottom: 3vh;
}
.contentInfo {
  font-size: 1.7vh;
  text-decoration: underline;
}
.itemInfo{
  padding-left: 1vw;
  font-weight: bold;
  font-size: 1.8vh;
}
#formEditCap{
  padding: 2vh;
  margin: auto;
  width: 70%;
}
.buttonSave{
  display: flex;
  font-style: bold;
}
.buttonSave > input{
  margin-top: 2vh;
  margin-right: 10vw;
  flex : 1 0;
}
.buttonSave > a{
  margin-top: 2vh;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  flex; 0 1;
}
#formEditCap label{
  margin: 2vh;
  font-size: large;
  text-decoration: underline;
}
#divCapH1{
  display: flex;
  width: 100%;
  padding 1vh;
  border: solid thin;
}
#divCapH1 > h1{
  padding: 2vh;
  flex: 1;
  padding-left: 3vw;
  text-decoration: underline;
}
.buttonDelete{
  display: flex;
  flex-direction: column;
  padding: 2vh;
  text-align: center;
  width: 20%;
}
#bDanger > input{
  margin-bottom: 2vh;
  padding: 1vh 2vw 1vh 2vw;
  width: 100%
}
#bEdit > input{
  padding: 1vh 2vw 1vh 2vw;
  width: 100%
}
#mapInfoP{
  display: flex;
  flex-direction: column;
  width: 100%;
}
#infoParterre{
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100%;

}
#mapP >#map{
  height: 50vh;
  width: 100%;
  margin-top: 2vh;
}
#infoParterre > .capteurs, .fleurs{
  flex: 1;
  height: 20vh;
  margin: auto;
  margin: 0.2vw;
}
.capteurs>h4, .fleurs >h4{
  margin-left: 1vw;;
  text-decoration: underline;
}
#listeCapl{
  width: 100%;
}
#listeCapl > section{
  margin: auto;
  text-align: center;
  width: 100%;
  padding-top: 20vh;
  font-size: x-large;
}
#listeCapl >section>#buttonAdd{
  font-size: large;
  margin-top: 8vh;
  width: 30%;
  color: white;
}
#listeCapl >ul{
  font-size: large;
  margin-top: 8vh;
  width: 30%;
  list-style-type: none;
  color: black;
  width: 100%;
}
#listeCapl a, #listeCapl li {
   color: black;
  width: 100%;
}
.buttonliste{
  border-radius: 0;
  text-align: left;
  padding-left: 1vw;
  font-size: 2vh;
}
.footer{
  text-align: center;
  padding-top: 1vh;
}
#return{
  width: 50%;
  background-color: whitesmoke;
  font-size: 1.7vh;
}
#return:hover{
  background-color: white;
}
#Suppr{
  text-align: center;
  margin:auto;
  width:100%;
}
#Suppr > form{
  display: flex;
  flex-direction: column;
  width: 100%;
}
#delete{
  background: url("arrow.png") no-repeat 98%;
   height: 5vh;
   overflow: hidden;
   width: 100%;
    -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
  background-color: #fff;

   border: solid thin;
  margin-bottom: 5vh;
  margin-top: 5vh;
}
#delete > select{
  background: transparent;
   border: none;
   font-size: 2vh;
   height: 5vh;
   padding: 0.5vh;
   width: 102%;
  color: #000;
}
#Supprimer{
  text-align: center;
  margin: auto;
  width:20%;
  font-size: large;
}
#Suppr h3 {
  padding-top: 2vh;
  text-decoration: underline;
}
#infoPlante{
  width: 100%;
  padding-left: 5vw;
  margin: auto;
  border: thin solid;
  display: flex;
}
#listePlante{
  flex: 1;
}
#button{
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#planteDelete, #planteEdit,#planteCancel{
  margin: auto;
  width: 60%;
}
#planteEdit > input,#planteDelete > input{
  padding: 1vw 2vw;
  width: 100%;
}
#planteCancel{
  background-color: whitesmoke;
}
#planteCancel:hover{
  background-color: white;
}
.fleurs, .capteurs{
  display: flex;
  flex-direction: column;
}
.fleurs >div, .capteurs >div{
  display: flex;
}
.listeP{
  list-style-type: none;
  flex: 1;
}
.listeP a{
  width: 80%;
  font-size: 1.5vh;
}
#addflower, #addC{
  margin-right: 2vh;
  margin-top: 1vh;
  background-color: whitesmoke;
}

#addflower:hover, #addC:hover{
  background-color: white;
}