body{
  padding-top: 7vh;
  background-image: url("fond.jpg");
  background-repeat: repeat;
}
.aside, .section, .h1{
  border: solid thin black;
  padding: 1vw;
}
.container{
  display: flex;
  flex-wrap: wrap;
}
.h1{
  order 1;
  width: 100%;
}

#widget_7d2188136044dec14cb3e5e2f596a021{
  order:2;
  width: 10%;
  margin-right: 1em;
}

.section{
  order:3;
  width: 50%;
}

.aside{
  order:4;
  flex: 1;
  margin-left: 10px;
}

#navbar{
  font-size: large;
}
.navbar-nav > li:hover{
  border-bottom: solid white;
}

.capteurs, .fleurs{
  border: solid black thin;
}

#login{
  padding: 25vh 0vw 3vh 0vw;
  margin-left: 12vw;
}
#login label{
  text-align: center;
  block-size: 2vw;
}
#sub{
  padding: 20vh 0vw 3vh 0vw;
  margin-left: 12vw;
}
#sub label{
  text-align: center;
  block-size: 2vw;
}
#buttonLog{
  margin-left: 10vh;
}
.col-sm-offset-2{
  text-align: center;
  display: flex;
}
#buttonA{
  flex: 1 1;
}
#mapInfo{
  display: flex;
  width: 100%;
}
#infoCap{
 border: thin solid black;
 padding: 10px;
 height: 50vh;
 margin: auto;
  width: 35%;
 flex: 0 1 2;
}
#mapC{
  flex: 1 1 0;
  width: 50%;
}
#mapC > #map{
  height: 50vh;
  width: 100%;
}
.listePos{
  height: 90%;
  padding-top: 5vh;
  list-style-type: none;
  padding-left: 0;
}
.listePos li{
  padding-bottom: 3vh;
}
.contentInfo {
  font-size: 1.7vh;
  text-decoration: underline;
}
.itemInfo{
  padding-left: 1vw;
  font-weight: bold;
  font-size: 1.8vh;
}
#formEditCap, #formEditPlante{
  padding: 2vh;
  margin: auto;
  width: 70%;
}
.buttonSave{
  display: flex;
  font-style: bold;
}
.buttonSave > input{
  margin-top: 2vh;
  margin-right: 10vw;
  flex : 1 0;
}
.buttonSave > a{
  margin-top: 2vh;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  flex; 0 1;
}
#formEditCap label, #formEditPlante label{
  margin: 2vh;
  font-size: large;
  text-decoration: underline;
}
.divCapH1{
  display: flex;
  width: 100%;
  border: solid thin;
  margin-bottom: 1vh;
}
.divCapH1 > h1{
  padding: 2vh;
  flex: 1;
  padding-left: 3vw;
  text-decoration: underline;
}
.buttonDelete{
  display: flex;
  flex-direction: column;
  padding: 2vh;
  text-align: center;
  width: 20%;
}
#bDanger{
  margin-bottom: 2vh;
  padding: 1vh 2vw 1vh 2vw;
  width: 100%;
}
#bEdit > input{
  padding: 1vh 2vw 1vh 2vw;
  width: 100%
}
#mapInfoP{
  display: flex;
  flex-direction: column;
  width: 100%;
}
#infoParterre{
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100%;

}
#mapP >#map{
  height: 50vh;
  width: 100%;
  margin-top: 2vh;
}
#infoParterre > .capteurs, .fleurs{
  flex: 1;
  height: 20vh;
  margin: auto;
  margin: 0.2vw;
}
.capteurs>h4, .fleurs >h4{
  margin-left: 1vw;;
  text-decoration: underline;
}
#listeCapl{
  width: 100%;
}
#listeCapl > section{
  margin: auto;
  text-align: center;
  width: 100%;
  padding-top: 20vh;
  font-size: x-large;
}
#listeCapl >section>#buttonAdd{
  font-size: large;
  margin-top: 8vh;
  width: 30%;
  color: white;
}
#listeCapl >ul{
  font-size: large;
  margin-top: 8vh;
  width: 30%;
  list-style-type: none;
  color: black;
  width: 100%;
}
#listeCapl a, #listeCapl li {
   color: black;
  width: 100%;
}
.buttonliste{
  border-radius: 0;
  text-align: left;
  padding-left: 1vw;
  font-size: 2vh;
}
.footer{
  text-align: center;
  padding-top: 1vh;
  width: 100%;;
}
.return{
  width: 50%;
  background-color: whitesmoke;
  font-size: 1.7vh;
}
.return:hover{
  background-color: white;
}
.Suppr{
  text-align: center;
  margin:auto;
  width:100%;
}
.Suppr > form{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.delete{
  background: url("arrow.png") no-repeat 98%;
   height: 5vh;
   overflow: hidden;
   width: 100%;
    -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
  background-color: #fff;

   border: solid thin;
  margin-bottom: 5vh;
  margin-top: 5vh;
}
.delete > select{
  background: transparent;
   border: none;
   font-size: 2vh;
   height: 5vh;
   padding: 0.5vh;
   width: 102%;
  color: #000;
}
.Supprimer{
  text-align: center;
  margin: auto;
  width:20%;
  font-size: large;
}
.Suppr h3 {
  padding-top: 2vh;
  text-decoration: underline;
}
#infoPlante{
  width: 100%;
  padding-left: 5vw;
  margin: auto;
  border: thin solid;
  display: flex;
}
#listePlante{
  flex: 1;
}
#button{
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#planteDelete, #planteEdit,#planteCancel{
  margin: auto;
  width: 60%;
}
#planteEdit > input,#planteDelete > input{
  padding: 1vw 2vw;
  width: 100%;
}
#planteCancel{
  background-color: whitesmoke;
}
#planteCancel:hover{
  background-color: white;
}
.fleurs, .capteurs{
  display: flex;
  flex-direction: column;
}
.fleurs > div, .capteurs >div{
  display: flex;
}
.listeP{
  list-style-type: none;
  flex: 1;
  width: initial;
}
.listeP a{
  width: 100%;;
  font-size: 1.5vh;
}
#addflower, #addC{
  margin-right: 2vh;
  margin-top: 1vh;
  background-color: whitesmoke;
}

#addflower:hover, #addC:hover{
  background-color: white;
}
#buttonCap a{
  margin: auto;
  width: 150%;
}
#buttonCap input{
  width: 50%;
  margin-left: 5vw;
}
#buttonCap{
  text-align: center;
  display: flex;
}
.btnReleve input{
  padding: 1vh 2.5vw 1vh 2.5vw;
  margin: auto;
}
.btnReleve {
  margin: auto;
  margin-right: 2vh;
}
.pl{
  padding-left: 45vh;
}

.popup>h2,.popup>p{
  color:black;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}

.popup {
  margin: 75px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  width: 300px;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  position: relative;
  width: 50vw;
}

.popuP {
  margin: 75px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  width: 300px;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  position: relative;
  width: 50vw;
}

.btn-pop-cancel{
  width: 20vh;
}
.btn-pop-cancel, .btn-pop-del{
  margin: 1vh 0vw 1vh 0vw;
}
.popup > p, .popuP > p{
  font-style: italic;
  color: gray;
}
.overlay:target {
  visibility: visible;
  opacity: 1;

}

.close {
  position: absolute;
  top : 0;
  bottom : 0;
  left : 0;
  right : 0;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
}

#formEditParterre{
  margin: auto;
  padding: auto;
  width: 100%;
  padding-top: 2vh;
}
#formEditParterre form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1vw;
}
#mapEditParterre > #map{
  width: 100%;
  margin-bottom: 4vh;
  padding-top: 4vh;
}
#formEditParterre label {
  text-decoration: underline;
  font-size: 2vh;
}
#formEditParterre > form >.btn{
  width: 30%;
  margin: auto;
  font-size: 2vh;
}

#info{
  border: thin solid;
  margin: auto;
  height: 60vh;
  flex: 1 1 0;
}
#graph{
  margin: auto;
  margin-top: 10vh;
}
#table, #info{
  text-align: center;
  padding: 1vw;
  width: 100%;
}
#table{
  padding-top: 2vh;
  height: 20vh;
}
#table th {
  text-align: center;
}
#table tr td {
  border: thin solid;
  padding: 1vh;
}
.sroll{
  overflow: auto;

  height: 50vh;
  border: thin solid;
}
.th{
  display: flex;
  flex-direction: row;
  width: inherit
}
.th h4 {
  text-align: center;
  padding: 1vh;
  padding-right: 2vw;
}

.scrollParterre {
  overflow: auto;
  width: 70%;
  height: 15vh;
  margin-right: 1.5vw

}
#Supp{
  padding: 1vh 6vw;
  font-size: large;
}
#homeH1{
  display: flex;
  flex-wrap: wrap;
}

#homeH1 h1{
  flex: 1;
}

#homeH1 img{
  width: 15%;
}
.scrollAction {
  overflow: auto;
  width: inherit;
  height: 50vh;
  border: thin solid whitesmoke;
  margin: 2vh 0vw;
}
.listeAction{
  padding-top: 1vh;
  list-style-type: circle;
}
.listeAction li{
  padding-top: 0.8vh;
  padding-bottom: 0.8vh;
}

.listeAction li:hover{
 background-color: whitesmoke;
  border: solid thin whitesmoke;
}
.section h2, .aside h2{
 text-decoration: underline;  
}