<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Inscription</h4>
</div>
<form name="inscriptionSite" method="post" >
<div class="modal-body">
  <span class="glyphicon glyphicon-user inputModalEnregistrer"><input type="text" placeholder="Nom" required title="Uniquement Alphabet" pattern="[A-Za-z-9áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ\s]{2,}"></input></span></br></br>
  <span class="glyphicon glyphicon-user inputModalEnregistrer"><input type="text" placeholder="Prénom" required title="Uniquement Alphabet" pattern="[A-Za-z-9áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ\s]{2,}"></input></span></br></br>
  <span class=" glyphicon glyphicon-envelope inputModalEnregistrer"><input type="email" placeholder="Email" required=""></input></span></br></br>
  <span class=" glyphicon glyphicon-envelope inputModalEnregistrer"><input type="email" placeholder="Email_Confirmation" required></input></span></br></br>
  <span class="glyphicon glyphicon-lock inputModalEnregistrer"><input type="password" placeholder="Mot_de_passe" required ></input></span></br></br>
  <span class="glyphicon glyphicon-lock inputModalEnregistrer"><input type="password" placeholder="Valider_Mot_de_passe" required></input></span>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-default green  glyphicon glyphicon-ok" > S'enregistrer</button>
  <button type="button" class="btn btn-default red glyphicon glyphicon-remove" data-dismiss="modal"> Annuler</button>
</div>
</form>
