{% extends "base.html" %}
{% block content %}
</br>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Qu'est-ce qu'Ardui'Now ?</h2>
          <p class="lead">Ardui’Now est un un service de gestion d’objets connectés, recueillant de nombreuses informations préalablement collectées par des capteurs autonomes. Le site propose ainsi un grand nombre de fonctionnalités afin d’exploiter au mieux les données reçue.
</p>
        </div>
        <div class="col-md-5">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
     <!-- Indicators -->
     <ol class="carousel-indicators">
       <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
       <li data-target="#myCarousel" data-slide-to="1"></li>
       <li data-target="#myCarousel" data-slide-to="2"></li>
     </ol>
     <div class="carousel-inner" role="listbox">
       <div class="item active">
         <img class="first-slide modifslide" src="https://cdn.instructables.com/F6R/IPAP/HQF9H5IO/F6RIPAPHQF9H5IO.MEDIUM.jpg" alt="First slide">
         <!-- <div class="container">
           <div class="carousel-caption">
             <h1>Example headline.</h1>
           </div>
         </div> -->
       </div>
       <div class="item">
         <img class="second-slide modifslide" src="https://www.arduino.cc/new_home/assets/illu_what_is-board.png" alt="Second slide">
         <!-- <div class="container">
           <div class="carousel-caption">
             <h1>Another example headline.</h1>
           </div>
         </div> -->
       </div>
       <div class="item">
         <img class="third-slide modifslide" src="http://pybar.fr/uploads/images/arduino/arduino_uno.jpg" alt="Third slide">
         <!-- <div class="container">
           <div class="carousel-caption">
             <h1>One more for good measure.</h1>
           </div>
         </div> -->
       </div>
     </div>
     <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
     </a>
     <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
     </a>
   </div><!-- /.carousel -->
        </div>
      </div>
      <hr class="featurette-divider">



      <div class="row featurette">
        <div class="col-md-5">
          <div id="myCarousel2" class="carousel slide" data-ride="carousel">
     <!-- Indicators -->
     <ol class="carousel-indicators">
       <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
       <li data-target="#myCarousel2" data-slide-to="1"></li>
       <li data-target="#myCarousel2" data-slide-to="2"></li>
     </ol>
     <div class="carousel-inner" role="listbox">
       <div class="item active">
         <img class="first-slide modifslide" src="https://cdn.instructables.com/F6R/IPAP/HQF9H5IO/F6RIPAPHQF9H5IO.MEDIUM.jpg" alt="First slide">
         <!-- <div class="container">
           <div class="carousel-caption">
             <h1>Example headline.</h1>
           </div>
         </div> -->
       </div>
       <div class="item">
         <img class="second-slide modifslide" src="https://www.arduino.cc/new_home/assets/illu_what_is-board.png" alt="Second slide">
         <!-- <div class="container">
           <div class="carousel-caption">
             <h1>Another example headline.</h1>
           </div>
         </div> -->
       </div>
       <div class="item">
         <img class="third-slide modifslide" src="http://pybar.fr/uploads/images/arduino/arduino_uno.jpg" alt="Third slide">
         <!-- <div class="container">
           <div class="carousel-caption">
             <h1>One more for good measure.</h1>
           </div>
         </div> -->
       </div>
     </div>
     <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
     </a>
     <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
     </a>
   </div><!-- /.carousel -->
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Cadre de développement de ce projet</h2>
          <p class="lead">Ardui'Now a été développé par un groupe de 7 personnes dans les locaux de l'IUT Informatique d'Orléans. Le projet s'est étalé de septembre à mars 2017.
    </p>
        </div>
      </div>
        <hr class="featurette-divider">
      </br>
{% endblock %}
