<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Déconnection</h4>
</div>

<div class="modal-body">
<p>Voulez-vous vraiment vous déconnecter ?</p>
</div>
<div class="modal-footer">
  <button type="Submit" class="btn btn-default green  glyphicon glyphicon-ok" data-dismiss="modal"> Valider</button>
  <button type="button" class="btn btn-default red glyphicon glyphicon-remove" data-dismiss="modal"> Annuler</button></br>
</div>
