<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Connection</h4>
</div>
<form name="connexionSite" method="post" >
<div class="modal-body">
  <span class=" glyphicon glyphicon-envelope inputModalEnregistrer v1"><input type="email" placeholder="Email" required=""></input></span>
  <span class="glyphicon glyphicon-lock inputModalEnregistrer v1"><input type="password" placeholder="Mot_de_passe" required ></input></span>
</div>
<div class="modal-footer">
  <button type="Submit" class="btn btn-default green  glyphicon glyphicon-ok"> Connection</button>
  <button type="button" class="btn btn-default red glyphicon glyphicon-remove" data-dismiss="modal"> Annuler</button></br>
  <a> Mot de passe oublié ? </a>
</div>
</form>
