{% extends "base.html" %}
{% block content %}
<br>
</br>
</br>
<div class="div_plan">
  <h2>Plan du site Ardui'Now : </h2>
  <div class="div_plan2">
    <!-- <h3> À propos d'Ardui'Now et aide : </h3> -->
    <ul class="plan_li_no_puce">
      <li><span class="glyphicon glyphicon-share-alt symmetric"></span><a href="/">Accueil</a></li>
        <ul class="plan_li_no_puce">
          <li><span class="glyphicon glyphicon-share-alt symmetric"></span><a href="login">Se connecter</a></li>
            <ul class="plan_li_no_puce">
              <li><span class="glyphicon glyphicon-share-alt symmetric"></span><a href="/">Accueil</a></li>
              <li><span class="glyphicon glyphicon-share-alt symmetric"></span><a href="login">Page Principale</a></li>
                <ul class="plan_li_no_puce">
                  <li><span class="glyphicon glyphicon-share-alt symmetric"></span><a href="plan">Plan du site</a></li>
                  <li><span class="glyphicon glyphicon-share-alt symmetric"></span><a href="mentions">Mentions légales</a></li>
                  <li><span class="glyphicon glyphicon-share-alt symmetric"></span><a href="contact">Contact</a></li>
                </ul>
            </ul>
          <li><span class="glyphicon glyphicon-share-alt symmetric"></span><a href="register">M'enregistrer</a></li>
            <ul class="plan_li_no_puce">
              <li><span class="glyphicon glyphicon-share-alt symmetric"></span><a href="/">Accueil</a></li>
              <li><span class="glyphicon glyphicon-share-alt symmetric"></span><a href="login">Page Principale</a></li>
                <ul class="plan_li_no_puce">
                  <li><span class="glyphicon glyphicon-share-alt symmetric"></span><a href="plan">Plan du site</a></li>
                  <li><span class="glyphicon glyphicon-share-alt symmetric"></span><a href="mentions">Mentions légales</a></li>
                  <li><span class="glyphicon glyphicon-share-alt symmetric"></span><a href="contact">Contact</a></li>
                </ul>
            </ul>
        </ul>
      <li><span class="glyphicon glyphicon-share-alt symmetric"></span><a href="plan">Plan du site</a></li>
      <li><span class="glyphicon glyphicon-share-alt symmetric"></span><a href="mentions">Mentions légales</a></li>
      <li><span class="glyphicon glyphicon-share-alt symmetric"></span><a href="contact">Contact</a></li>
    </ul>
  </div>
</div>
{% endblock %}
